html,
body,
#bubbles {
  height: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color:  #722F37;
}

#bubbles {
  padding: 200px 0;
  padding-top: 0;
}

.bubble {
  width: 5vw;
  height: 5vw;
  background:  #722F37;
  border: 1px solid white;
  border-radius: 10vw;
  -moz-border-radius: 10vw;
  -webkit-border-radius: 10vw;
  position: absolute;
}

.x1 {
  left: 85vw;
  color: yellow;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0.2;
  -webkit-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 5vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  -webkit-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
  animation: moveBubbles 6s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x3 {
  left: 35vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveBubbles 5s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x4 {
  left: 47vw;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  -webkit-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: moveBubbles 8s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x5 {
  left: 15vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
  -o-animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
  animation: moveBubbles 5s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
  left: 73vw;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.2;
  -webkit-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveBubbles 4s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x7 {
  left: 67vw;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.5;
  -webkit-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
  animation: moveBubbles 11s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

.x8 {
  left: 56vw;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.3;
  -webkit-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
  -o-animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
  animation: moveBubbles 9s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x9 {
  left: 20vw;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.35;
  -webkit-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  -o-animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
  animation: moveBubbles 4.5s linear infinite, sideWays 2s ease-in-out infinite alternate;
}

.x10 {
  left: 33vw;
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -o-transform: scale(0.4);
  transform: scale(0.4);
  opacity: 0.3;
  -webkit-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -moz-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
  -o-animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
  animation: moveBubbles 11.3s linear infinite, sideWays 5s ease-in-out infinite alternate;
}

@-webkit-keyframes moveBubbles {
  0% {
    top: 100vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}

@-webkit-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}

@-moz-keyframes moveBubbles {
  0% {
    top: 100vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}

@-moz-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}

@-o-keyframes moveBubbles {
  0% {
    top: 100vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}

@-o-keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}

@keyframes moveBubbles {
  0% {
    top: 100vh;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0vh;
    opacity: 0;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 5vw;
  }
}

/*----------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}
.overflow {
  overflow: hidden;
}

.navMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.navMenu a {
  color: #f6f4e6;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

nav a {
  text-align: center;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

a.active {
  color: #fddb3a;
} 

.main {
  text-align: center;
  color: #ffffff;
  font-size: 72px;
  letter-spacing: 0.1em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif, serif;
  padding-top: 150px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.up {
  top: 3%;
}

.container {
  position: absolute;
  background-color: #f5f5f5;
  border: 5px solid black;
  border-radius: 3em;
  top: 8%;
  max-width: 1000px;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: 500;
}

.container p {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.swiffy-slider {
  max-width: 900px;
  margin: 0 auto 30px auto;
}

.poloha {
  color: #f5f5f5;
  position: absolute;
  top: 95%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}
.container-2 {
  position: absolute;
  top: 101%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  border: 5px solid black;
  contain: content;
  border-radius: 20px;
}

.absolute {
  position: absolute;
  background-color: #f5f5f5;
  border: 5px solid black;
  border-radius: 3em;
  top: 8%;
  left: 0%;
  right: 0%;
  margin-left: 0 auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

a img {
  max-width: 350px;
  height: 600px;
  margin: 10px;
}

.graf-container {
  position: absolute;
  background-color: #f5f5f5;
  border: 5px solid black;
  border-radius: 3em;
  top: 15%;
  max-width: 820px;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto;
}

.spotreba {
  position: absolute;
  top: 8%;
  left: 0%;
  right: 0%;
  margin-left: auto;
  margin-right: auto; 
  width: 700px;
  color: #f5f5f5;
}